body{
    background-color:rgb(243, 152, 118);
}
h1{
    text-align: center;
    font-size: 60px;
    color: rgb(202, 67, 0);
    
}
h2{
    text-align: center;
    font-size: 40px;
    color: rgb(173, 99, 24);
    font-weight: lighter;
    border : 5px rgb(173, 99, 24) dotted;
    
}
p{
    text-align: center;
    font-family: American Typewriter;
    font-weight: lighter;
    padding-left: 100px;
    padding-right: 100px;
}
div{
    text-align: center;
}
.desc{
    text-align: center;
    font-weight: bolder;
    color: rgb(202, 67, 0);
    font-size: larger;
   
}
.des{
    text-align: left;
}
